In [1]:
import json
import pandas as pd
import pickle
from tqdm import tqdm


def dump_pickle(file_path, object):
    with open(file_path, 'wb') as handle:
        pickle.dump(object, handle)

In [6]:
stats = []

with open("train_labelled.jsonl", 'r') as f:
    for line in tqdm(f):
        line = json.loads(line)
        text = line["text"]
        summary = line["summary"]
        oracles = line["indices"]
        scores = line["score"][1:]
        num_sent_text = len(text)
        num_sent_summary = len(summary)
        num_oracles = len(oracles)

        
        avg_word_text, avg_word_summary, avg_score = .0, .0, .0
        for sent in text:
            words_per_sent = sent.split()
            avg_word_text += len(words_per_sent)
        for sent in summary:
            words_per_sent = sent.split()
            avg_word_summary += len(words_per_sent)
        for score in scores:
            avg_score += score
        avg_word_text /= num_sent_text
        avg_word_summary /= num_sent_summary
        avg_score /= num_oracles
        
        stats.append({"num_sent_text": num_sent_text,
                      "num_sent_summary": num_sent_summary,
                      "num_oracles": num_oracles,
                      "avg_word_text": avg_word_text,
                      "avg_word_summary": avg_word_summary,
                      "avg_score": avg_score})

train_df = pd.DataFrame.from_records(stats)
dump_pickle("./train_labelled_stats.pickle", train_df)

1611it [00:00, 4777.96it/s]

In [3]:
stats = []

with open("validation.jsonl", 'r') as f:
    for line in tqdm(f):
        line = json.loads(line)
        text = line["text"]
        summary = line["summary"]
        num_sent_text = len(text)
        num_sent_summary = len(summary)
        
        avg_word_text, avg_word_summary = .0, .0
        for sent in text:
            words_per_sent = sent.split()
            avg_word_text += len(words_per_sent)
        for sent in summary:
            words_per_sent = sent.split()
            avg_word_summary += len(words_per_sent)
        avg_word_text /= num_sent_text
        avg_word_summary /= num_sent_summary
        
        stats.append({"num_sent_text": num_sent_text,
                      "num_sent_summary": num_sent_summary,
                      "avg_word_text": avg_word_text,
                      "avg_word_summary": avg_word_summary})

validation_df = pd.DataFrame.from_records(stats)
dump_pickle("./validation_stats.pickle", validation_df)

202it [00:00, 4682.98it/s]

In [4]:
stats = []

with open("test.jsonl", 'r') as f:
    for line in tqdm(f):
        line = json.loads(line)
        text = line["text"]
        summary = line["summary"]
        num_sent_text = len(text)
        num_sent_summary = len(summary)
        
        avg_word_text, avg_word_summary = .0, .0
        for sent in text:
            words_per_sent = sent.split()
            avg_word_text += len(words_per_sent)
        for sent in summary:
            words_per_sent = sent.split()
            avg_word_summary += len(words_per_sent)
        avg_word_text /= num_sent_text
        avg_word_summary /= num_sent_summary
        
        stats.append({"num_sent_text": num_sent_text,
                      "num_sent_summary": num_sent_summary,
                      "avg_word_text": avg_word_text,
                      "avg_word_summary": avg_word_summary})

test_df = pd.DataFrame.from_records(stats)
dump_pickle("./test_stats.pickle", test_df)

201it [00:00, 4795.43it/s]

In [7]:
train_df.describe()

,num_sent_text,num_sent_summary,num_oracles,avg_word_text,avg_word_summary,avg_score
count,1611.000000,1611.000000,1611.000000,1611.000000,1611.000000,1611.000000
mean,223.805090,14.148355,4.341403,17.376119,20.140834,0.664368
std,272.600159,17.020367,1.991321,4.919260,8.611065,0.110312
min,10.000000,1.000000,2.000000,3.392857,2.000000,0.310118
25%,84.000000,3.000000,3.000000,14.078013,14.500000,0.588019
50%,167.000000,8.000000,4.000000,17.252809,19.333333,0.661385
75%,277.500000,19.000000,5.000000,20.660798,24.410714,0.747194
max,4067.000000,192.000000,16.000000,42.790698,107.000000,0.922965

In [6]:
validation_df.describe()

       num_sent_text  num_sent_summary  avg_word_text  avg_word_summary
count     202.000000        202.000000     202.000000        202.000000
mean      223.891089         13.024752      17.379621         20.067952
std       226.517499         15.817818       5.073132          7.653132
min        11.000000          1.000000       5.301158          2.000000
25%        77.250000          4.000000      14.269530         14.030488
50%       164.500000          8.000000      17.163541         19.666667
75%       299.500000         16.000000      20.664136         25.141892
max      1423.000000        137.000000      36.314607         51.000000

In [7]:
test_df.describe()

       num_sent_text  num_sent_summary  avg_word_text  avg_word_summary
count     201.000000        201.000000     201.000000        201.000000
mean      209.577114         12.447761      17.466621         20.297901
std       213.498232         12.921629       5.233174          7.809780
min        13.000000          1.000000       3.372240          4.000000
25%        77.000000          4.000000      14.485714         14.904762
50%       147.000000          8.000000      17.000000         20.307692
75%       261.000000         17.000000      20.548000         25.000000
max      1902.000000         76.000000      39.986842         47.176471

In [8]:
(14.148355	 + 13.024752 + 12.447761) / 3

13.206956

In [10]:
total_df = pd.concat([train_df, validation_df, test_df])

In [12]:
total_df.describe()

       num_sent_text  num_sent_summary  avg_word_text  avg_word_summary
count    2014.000000       2014.000000    2014.000000       2014.000000
mean      222.393744         13.865938      17.385502         20.149200
std       262.876808         16.540994       4.964471          8.439001
min        10.000000          1.000000       3.372240          2.000000
25%        82.000000          3.000000      14.166854         14.500000
50%       166.000000          8.000000      17.213172         19.480769
75%       277.000000         19.000000      20.633910         24.666667
max      4067.000000        192.000000      42.790698        107.000000